<!DOCTYPE html>
<html>
    <head>
        <title>Healthy Habits</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="wrapper-sug">
        <h1>Suggestions for healthy habits</h1>
        <p>Keeping track helps you do better</p>
        <p>We recommend not trying to create too many new habits at once</p>
        <p>but focusing on a few small daily practices to make a big difference.</p>
        <p>Don't forget to take care of your health.</p>
        <p>Sometimes making sure we get enough sleep or excercise can be just as important as studying.</p>
        <p>Good luck!</p>
        <ul>
            <h3>School related habits</h3>
            <li>Complete your assignments</li>
            <li>Complete your reading</li>
            <li>Watching class lectures</li>
            <li>Work on portfolio projects</li>
            <li>Do a few hackerrank challenges</li>
            <h3>Health related habits</h3>
            <li>Get enough rest</li>
            <li>Go to the gym</li>
            <li>Call your family</li>
            <li>Run marathons</li>
            <li>Hikes</li>
        </ul>
        
        <div class="bContainer">
        <form action='/mainpage' method='get'>
        <input type="submit" id='mainPage' value="Return"></input>
        </form>
        <form action = "/logout" method = "get">
        <input type="submit" value="Log out">
        </form>
        </div>
    </div>
</body>
    

</html>